$container-gap: 4rem;
$header-height: 10rem;
$white-color: #ffffff;
$color-primary: #ffaa00;
$color-grey-light-0: #fff2e0;
$color-grey-light-1: #fffaf5; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #e2e2de; // Background
$color-grey-light-4: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text
$transition-fast: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
$transition-slow: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  font-family: 'Parkinsans', serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 0;
}

::selection {
  color: $color-grey-light-1;
  background-color: $color-primary;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-weight: 300;
  line-height: 1.6;
  font-optical-sizing: auto;
  color: $color-grey-dark-1;
  background: $color-grey-light-3 center / cover no-repeat;
}

.container {
  overflow: hidden;
  border-radius: 1rem;
  margin: $container-gap;
  background-color: $color-grey-light-0;
  min-height: calc(100dvh - $container-gap * 2);
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-grey-dark-1, 0.2);

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 'head head' 'list recipe';
  grid-template-rows: $header-height minmax(70rem, auto);

  @media only screen and (max-width: $bp-large) {
    margin: 0;
    max-width: 100%;
    border-radius: 0;
    min-height: 100dvh;
    grid-template-columns: 1fr 2fr;
  }
}
